.inventory-container {
    display: grid;
    grid-template-columns: repeat(12, 3.5vw);
    grid-template-rows: repeat(5, 3.5vw);
    grid-gap: 0px;
    text-align: center;
    background-color: #282a37;
  }