.inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8vw);
    grid-template-rows: repeat(5, 8vw);
    grid-gap: 10px;
    text-align: center;
    width:100%;
    min-height: 100%;
    background-color:rgba(52,58,64, 0.7);
    border:1px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
  }

  .inventory{
    background: url('../icons/sr-bg.jpg') no-repeat;
    background-size:cover;
  }

  img{
    max-height: 8vh;
    background-color:rgba(41, 45, 49, 0.4);
    opacity: 0.9;
  }