.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100% ;
} */

html, body,#root,.App,.homepage {
  height:100% !important;
  min-height: 100% !important;
}


.container-fluid {
  height: 100%;
   /* don't show content that exceeds my height */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mine {
  background: url('https://thumbs.dreamstime.com/b/old-mine-shovel-pick-landscape-vector-illustration-63691407.jpg') no-repeat;
  background-size: cover;
  color: white;

}

.mineCards .card {
  background-color: #343a40;
  opacity: 0.9;

}

#HomePageSkills {
  display: inline-flex;
  justify-content: space-around;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
