.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100% ;
} */

.container-fluid {
  min-height: 100%;
  height: 100%;
}

html, body,#root,.App,.homepage {
  height:100% !important;
  min-height: 100% !important;
}

.nav {
  justify-items: baseline;
  
  
}
.nav-item-1 {
  padding: 20px;
  
}
.nav-item-2 {
  padding: 20px;
  
}
.nav-item-3 {
  padding: 20px;
  
}
.nav-item-4 {
  padding: 20px;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


a:link {
  text-decoration: none;
  color:inherit;
}

a:visited {
  color: wheat;
  text-decoration: none;
}

a:hover {
  background-color: #343a40;
  text-decoration: none !important;
  color: wheat !important;
}

a:active {
  color: wheat;
}

a:focus {
  text-decoration: none;
  color: wheat;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  color: white;
}


.Home {
  background: url('https://i.pinimg.com/originals/24/64/38/2464389a8bd927044150d01dded99950.jpg') no-repeat ;
  background-size: cover;
  color: white;
  min-height: 600px;

}
.homeCards .card{
background-color: #343a40;
}

.smithing {
  background: url('./views/icons/blacksmith.jpg') no-repeat;
  background-size: cover;
  color: white;
  min-height: 600px;
}
.smithingCards .card {
  background-color: #343a40;
  opacity: 0.9;
}

.mine {
  background: url('https://thumbs.dreamstime.com/b/old-mine-shovel-pick-landscape-vector-illustration-63691407.jpg') no-repeat;
  background-size: cover;
  color: white;
  
}

.mineCards .card {
  background-color: #343a40;
  opacity: 0.9;

}

#HomePageSkills {
  display: inline-flex;
  justify-content: space-around;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
